  <div class="container">
    <form 
    (ngSubmit)="onSubmit();">
      <ul class="list-group">
        <li
          class="list-group-item firstDrag" 
          droppable 
          [dragOverClass]="'showNext'">Placeholder
        </li>
        <li class="list-group-item placeholder"></li>
        <div *ngFor="let item of items" class="control">
          <app-drag-item [item]='item' (positionUpdated)='updatePosition($event)'></app-drag-item>
        </div>
      </ul>
      <button type="submit" 
        class="btn btn-primary">Submit</button>
    </form>
  </div>